@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.ukulele__image {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 50px;
}

.eachUkulele {
  flex-basis: 28%;
  margin: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: normal;
  padding: 2rem;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8cb89f;
}

.ukuleles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.deleteButton {
  padding: 0.5rem;
  font-size: medium;
}
.updateButton {
  padding: 0.5rem;
}

.myUkeListHeader {
  text-align: center;
}

.friendUkeListHeader {
  text-align: center;
}
