@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.ukulele__image {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

.eachUkulele {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #8cb89f;
}

.collectionContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.deleteButton {
  padding: 1rem;
}
.updateButton {
  padding: 1rem;
}
