@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.ukulele__image {
  width: 200px;
  height: 200px;
}

.eachUkulele {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  background-color: white;
}

.collectionContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 2rem;
}
