.mainContainer {
  height: 100%;
  background-color: lightgrey;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  height: 100%;
}
.ukeCollectionContainer {
  padding-top: 1rem;
  margin-right: 1rem;
  width: 75%;
  border-top: 5px solid #175873;
  border-right: 5px solid #175873;
  display: flex;
  flex-basis: auto;
}

.dropdownContainer {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: 5px solid #175873;
  border-left: 5px solid #175873;

  height: 200px;
}

.searchContainer {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: 5px solid #175873;
  border-left: 5px solid #175873;
  margin-bottom: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ukeBuddyContainer {
  padding-top: 1rem;
  padding-left: 2rem;
  height: 150px;
  display: flex;
  flex-direction: column;
}
